{
"Name": "BPSDATA-03 BPSInterface SP - BPSGetStudentSchoolOutOfSync",
"Description": "This check monitors a specific SQL Query.",
"InterfaceType": null,
"PluginType": "Wolfpack.Core.Checks.SqlODAQueryCheck, Wolfpack.Core",
"ConfigurationType": "Wolfpack.Core.Checks.SqlODAQueryCheckConfig, Wolfpack.Core",
"Data": "{\"ConnectionString\":\"Data Source=BPSDATA-03;Initial Catalog=BPSInterface;Persist Security Info=True;User ID=BPSDBMonitor;Password=wRavesw8\",\"Query\":\"EXEC BPS.GetStudentSchoolOutOfSync\",\"InterpretZeroRowsAsAFailure\":false,\"NotificationMode\":\"AlwaysPublish\",\"GenerateArtifacts\":null,\"WikiPath\":\"https://sites.google.com/a/bostonpublicschools.org/appdev/current-projects/daily-mailer-conversion/mailer-monitor\",\"FriendlyId\":\"BPSDATA-03 BPSInterface SP - BPSGetStudentSchoolOutOfSync\",\"SubType\":null,\"CronValue\":null,\"CommandTimeOut\":180,\"Enabled\":true}",
"Tags": [
"HealthCheck",
"SQL",
"ODAQueries"
],
"Link": null,
"RequiredProperties": {
"Name": "BPSDATA-03 BPSInterface SP - BPSGetStudentSchoolOutOfSync",
"Scheduler": "EveryMinute"
}
}
